* {
  box-sizing: border-box;
}

html, body {
  overflow: hidden;
  font-family: Helvetica,san-serif;
}

h1, h3 {
  text-align: center;
}

.grid {
  background-color: black;
  box-sizing: content-box;
  padding: 0;
  border-top: 5px solid lightgray;
  border-right: 5px solid lightgray;
  border-left: 5px solid lightgray;
  border-bottom: 5px solid lightgray;
  display: flex;
  flex-wrap: wrap;
}

.grid-cell--tikus {
    background-color: red;
  }

.grid-cell--ular {
    background-color: white;
  }

.ular-app {
  height: 100vh;
  margin: 10px auto;
}

.ular-app__overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: hsla(0, 0, 0, .9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.2rem;
}


.mb-1 {
  margin-bottom: 1rem;
}

button {
  background-color : green;
  color: white;
  border-radius: 20px;
  border: 2px solid red;
  padding: .75rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 0 10px black;
  margin: 10px;
}